﻿
@{
    ViewBag.Title = "html";
}

<h2>htmlhelper</h2>

<p>姓名 : @Html.TextBox("Username")</p>
<p>帳號 : @Html.TextBox("acount")</p>
<p>密碼 : @Html.Password("ped")</p>
<p>
    性別:
    @Html.RadioButton("gender", "A")男
    @Html.RadioButton("gender", "B")女
<p>

<p>
    興趣
    @Html.CheckBox("habby-1", "A")making love
    @Html.CheckBox("habby-2", "B")slepping
    @Html.CheckBox("habby-3", "C")working
</p>

<p>關於我 : @Html.TextArea("about")</p>


